.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    max-width: 800px;
    height: 200px;
    width: 100%;
    padding: 20px;
  }
  
  mat-form-field {
    width: 80%;
  }


  .button-container {
    float: right;
    margin-top: -40px;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
  }


  